* {
    background-color: #DCD0FF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4a3260;
}

/* background-color: #DCD0FF;
color: #3a243b; */

h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

a {
    text-decoration: none;
    padding: 10px;
}

a:hover {
    border-radius: 50px;
    padding: 10px;
}

#green:hover {
    background-color: #CDFFDD;
}

#pink:hover {
    background-color: #FFCDFA;
}

#blue:hover {
    background-color: #CDFAFF;
}

li {
    display: inline-flex; 
}

#about {
    display: flex;
    background-color: blanchedalmond;
    border-radius: 50px;
    padding: 10px;
}

#aboutme {
    padding: 25px;
    margin: auto 0;
    background-color: blanchedalmond;
}

h2 {
    padding: 25px;
    margin: auto 0;
}

#paragraphs {
    margin: auto 0;
    background-color: blanchedalmond;
}

p {
    background-color: blanchedalmond;
}

#profilePic {
    height: 40vh;
    float: right;
    border-radius: 50px;
}

.mywork {
    border-radius: 50px;
}

.mywork:hover {
    opacity: .8;
}

#work {
    display: flex;
    margin-top: 10px;
    margin-right:10px;
    flex-wrap: wrap;
}
#work img {
    padding: 5px;
}
#work img:hover {
    padding: 10px;
}

#contact {
    display: flex;
    background-color: #CDFFDD;
    border-radius: 50px;
}

#color {
    background-color: #CDFFDD;
    border-radius: 50px;
}

form {
    display: flex;
    align-items: center;
    background-color: #CDFFDD;
}

label {
    background-color: #CDFFDD;
}

input {
    border-radius: 50px;
    background-color: #DCD0FF;
}

#submit:hover {
    background-color: #FFCDFA;
}