* {
    background-color: #DCD0FF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3a243b;
}

h1 {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

a {
    text-decoration: none;
    padding: 10px;
}

a:hover {
    background-color: blanchedalmond;
    border-radius: 50px;
    padding: 10px;
}

li {
    display: inline-flex; 
}

#about {
    display: flex;
    background-color: blanchedalmond;
    border-radius: 50px;
    padding: 10px;
}

#aboutme {
    padding: 25px;
    margin: auto 0;
    background-color: blanchedalmond;
}

h2 {
    padding: 25px;
    margin: auto 0;
}

div {
    margin: auto 0;
    background-color: blanchedalmond;
}

p {
    background-color: blanchedalmond;
}

#profilePic {
    height: 40vh;
    float: right;
    border-radius: 50px;
}

.mywork {
    border-radius: 50px;
}

.mywork:hover {
    opacity: .8;
}

#work {
    display: flex;
    margin: 50px;
}

#contact {
    display: flex;
}

form {
    display: flex;
    align-items: center;
}

input {
    border-radius: 50px;
}

#submit:hover {
    background-color: blanchedalmond;
}